@import "assets/fonts/FuturaPTMedium.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'FuturaPTWebMedium', sans-serif;
}

body {
  padding: 20px;
}

.link {
  width: 250px;
  box-sizing: content-box;
  text-align: center;
  color: blueviolet;
  border: 10px solid white;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
  padding: 20px;
  border-radius: 20px;
  background: rgba(121, 121, 121, .2);
}

.link:hover {
  background: white;
  border: 10px solid rgba(121, 121, 121, .2);
}

.active {
  border: 10px solid blueviolet;
}

